header {
    width: 100%;
    font-size: larger;
    background-color: lightblue;
}

form {
    padding: 10px;
    background-color: lightgray;
    border: 5px solid black;
}

input[type=submit], input[type=reset] {
    background-color: green;
    color: white;
}

table {
    width: 80%;
    height: 400px;
    border-collapse: collapse;
}

td {
    border: 2px solid black;  
    padding: 5px;
    text-align: center;
}